<p><%= @character.name %></p>
<p><%= @character.gender %>
<%= @character.race %>
<%= @character.character_class %></p>
<%= link_to "Add Power", new_power_path %>
<%= link_to "Add Item", new_item_path %>
